<template>
  <div>
    <p v-text="title" />

    <Product />
  </div>
</template>

<script>
export default {
  components: {
    Product: () => import('../components/Product.vue'),
  },
  data: () => ({
    title: 'Product Page',
  }),
  head() {
    return {
      title: this.title,
    }
  },
}
</script>
